@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


body {
      font-family: 'Open Sans', sans-serif;
}

.calendario{
    background-color: #d1d1d1;
    width: 210px;
    padding: 15px 10px 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

table {
    border-spacing: 5px 4px;
    border-collapse: separate;
}

td {
    margin-left: 5px;
    /*padding: 0 5px;*/

}

caption {
    font-size: 15px;
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid darkgray ;
}

.day-name {
  font-size: 11px;

}

.icon-calendario {
    width: auto;
    height: 10px;
}

.month-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.rotate-img {
    transform: rotate(180deg);
}

h5 {
    font-weight: 400;
    margin: 0;
    font-size: 15px;
}

.day {
    background-color: #f8f8f8;
    padding: 0 5px;
    font-size: 13px;
    text-align: center;
}

#day-active {
    background-color: #06b39f;
    color: white;
}